.App {
	display: flex;
	width: fit-content;
	height: fit-content;
	border: 5px solid black;
	margin: 10px;
	padding: 5px;
}

.HomePage, .EmployeePage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	border: 4px solid navy;
	margin: 1px;
	padding: 1px;
}

.EmployeePage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Header {
	height: 40px;
	border: 3px solid seagreen;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	margin: 2px;
}

.SearchBar {
	height: 40px;
	border: 3px solid lightslategray;
	margin: 2px;
}

.EmployeeList {
	display: flex;
	flex-direction: column;
	border: 3px solid slateblue;
	margin: 2px;
	padding: 5px;
}

.EmployeeListItem {
	display: flex;
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 5px;
	width: auto;
	height: 75px;
	padding: 5px;
	margin: 2px;
}

.profilePic {
	display: flex;
	justify-content: space-around;
	height: 70px;
	margin: auto;
	width: fit-content;
	border-radius: 40%;
}

.picDiv {
	width: 35%;
	border: solid black;
	border-radius: 50%;
	background-color: black;
	margin-right: 5px;
} .picDiv:hover {
	border: 5px solid lawngreen;
}

.profileDescription {
	width: 65%;
	text-align: left;
	/* border: solid lightgray; */
	padding: 5px;
}

.profileDescriptionName {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.profileDescriptionTitle {
	font-size: 13px;
}

.EmployeeSection {
	border: solid teal;
	border-width: 1px;
	height: 300px;
	margin: 10px;
	border-radius: 5px;
}

.EmployeeHeader {
	border-bottom: solid teal;
	border-width: 1px;
	height: 100px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
}

.EmployeeQuote {
	margin: 20px;
	text-align: center;
}